:root {
    --color-bg: hsl(0, 0%, 10%);
    --color-tx: hsl(0, 0%, 95%);
    --color-lk: hsl(0, 0%, 95%);
    --color-lk-hover: hsl(0, 0%, 40%);
    --mockup-img-size: 500px;
}


.scrolling-wrap {
    height: calc(100vh - 200px);
}

@media only screen and (max-width: 1000px) {
    .scrolling-wrap {
        height: calc(80vh - 200px);
    }
}


.mockup-wrap {
    position: relative;
    width: var(--mockup-img-size);
    height: var(--mockup-img-size);
}

.img-mockup {
    position: absolute;
    border-radius: 16px;
    width: var(--mockup-img-size);
}

.mockup-1,
.mockup-2 {
    top: 0;
    left: 0;
    transform: rotate(0deg);
}

.mockup-wrap:hover .mockup-1 {
    left: calc(-1 * var(--mockup-img-size) / 2.5);
    transform: rotate(-10deg);
    top: 4rem;
}

.mockup-wrap:hover .mockup-2 {
    left: calc(var(--mockup-img-size) / 2.5);
    transform: rotate(10deg);
    top: -4rem;
}

.buy-button {
    position: relative;
    z-index: 100;
    color: white;
    background: black;
    width: calc(var(--mockup-img-size) / 5);
    height: calc(var(--mockup-img-size) / 5);
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 600;
    border: solid 3px gray;
    opacity: 0.0;
}

.mockup-wrap:hover .buy-button {
    opacity: 0.5;
}

.footer-links a {
    font-size: 0.9rem;
    margin: 0 0.4rem;
    border: none;
}

.arrow-anim {
    position: relative;
    animation: arrowanim 5s ease-in-out infinite;
}

@keyframes arrowanim {
    0% {
        top: 0rem;
    }

    5% {
        top: 0.5rem;
    }

    10% {
        top: 0rem;
    }

    15% {
        top: 0.5rem;
    }

    20% {
        top: 0rem;
    }

    100% {
        top: 0rem;
    }
}